<nav id="nav" class="navbar navbar-transparent">
      <div id="nav" class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-left" href="/" ><img src="logo/agendum2.png"></a>
        </div>
      <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/">HOME</a></li>
            <li><a routerLink="/about" >ABOUT</a></li>
            <li><a routerLink="/contact">CONTACT</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="row">
          <div class="col-md-8 col-md-offset-2">

          <todos> </todos>
          </div>
      </div>
    </div><!-- /.container -->